body{
  background-color: #BFD4FF;
  background-attachment: fixed;
  background-position: no-repeat;


}
h1 {
  color:#0277BD;
  margin-left: 50px;
}
p {
  font-family: helvetica;
  color: #01579B;
}

table {
  width: 300px;
  margin-top: 50px;
  margin-left: 50px;
}

#map {

  border: 3px solid #0277BD;
  margin-top: 20px;
  
}

table #map {
  display: inline-block;
}


th {
  color: red;
  text-align: left
}