%script{:src => "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry", :type => "text/javascript"}
%script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}

%div{:class => 'col-md-4'}
	%h1	Localités

	%table
		- @locations.each do |l|
			%tr
				%td
					= link_to l.town, show_location_path(l)
				%td.buttonSupp
					= link_to "Suppr.", delete_location_path(l), :method => :post, data: { confirm: 'Voulez vous vraiment supprimer la ville ?' }
	%br
	= button_to "Une autre ville ?", locations_new_path, :method => :get, :class => 'btn btn-primary goRight' 

%div{:style => "width: 800px;", :class => 'col-md-8'}
	#map{:style => "width: 800px; height: 700px;"}

:javascript
	handler = Gmaps.build('Google');
		handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
		markers = handler.addMarkers(#{raw @hash.to_json})
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
	});
